p {
  margin : 2px;
}

.user-card {
  border-radius: 10px;
  width : 300px;
  margin: 10px;
  color : #222;
  background-color: white;
  box-shadow: 2px 2px 2px #ddd, -2px -2px 2px #ddd;
}

.card-body {
  padding: 7px 10px;
}

.card-group {
  margin: 10px 0;
}

.item-title {
  font-weight : bold;
  font-size : 14px;
  color : #777
}

.username {
  color : #999;
  margin-bottom: 8px;
}

.bottom-card {
  background: #1369ce;
  padding : 10px;
  border-radius: 0 0 10px 10px;
}

.bottom-card .links {
  display: flex;
  justify-content: center;
}

.bottom-card .links img {
  margin: 0 12px;
}

.card-number {
  background-color: #2a77d1;
  border-radius: 10px 0 50% 0;
  width : 35px;
  height : 35px;
  color : white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
 
@media screen and (max-width : 468px) {
  .user-card {
    width : 80vw
  }
  .bottom-card .links img {
    width : 25px;
    height : 25px
  }
}